<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildDate</key>
	<string>1715982299</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleReleaseVersion</key>
	<string>97</string>
	<key>CFBundleShortReleaseVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-511991161200-ios-4df9e8211772006415efb5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>19583</string>
	<key>CFTargetName</key>
	<string>$(TARGET_NAME)</string>
	<key>IsReleaseBuild</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Hello needs access to your camera to select an image for group chats. Your image data is never shared with anyone but the chat participants.</string>
	<key>NSContactsUsageDescription</key>
	<string>Hello needs access to your contacts to find friends with accounts. Your contacts' information never leaves your device.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hello needs access to your microphone for audio messages. Your audio data is never shared with anyone but the message recipients.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hello needs access to your photo library to select images for group chats. Your image data is never shared with anyone but the chat participants.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Hello needs access to your microphone for audio messages. Your audio data is never shared with anyone but the message recipients.</string>
	<key>UIAppFonts</key>
	<array>
		<string>San Francisco (Bold Italic).otf</string>
		<string>San Francisco (Bold).otf</string>
		<string>San Francisco (Heavy Italic).otf</string>
		<string>San Francisco (Heavy).otf</string>
		<string>San Francisco (Light Italic).otf</string>
		<string>San Francisco (Light).otf</string>
		<string>San Francisco (Medium Italic).otf</string>
		<string>San Francisco (Medium).otf</string>
		<string>San Francisco (Regular Italic).otf</string>
		<string>San Francisco (Regular).otf</string>
		<string>San Francisco (Semibold Italic).otf</string>
		<string>San Francisco (Semibold).otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
